# Server configuration
PORT=
HTTP=
MODE=

# TLS (dev only)
KEY_FILE_PATH=
CERT_FILE_PATH=

# MongoDB
MONGO_ADDRESS=
MONGO_USERNAME=
MONGO_PASSWORD=

# Redis
REDIS_ADDRESS=

# Internal services
STORAGE_URL=

# Apple Push Notifications
APPLE_KEY_ID=
APPLE_TEAM_ID=
APNS_FILE_PATH=

# Firebase
FIREBASE_FILE_PATH=

# Stripe
STRIPE_TOKEN=

# MapKit
MAPKIT_TOKEN=
MAPKIT_FILE_PATH=
MAPKIT_KEY_ID=

# --- Storage service ---
LOG_LEVEL=
CREDENTIALS_FILE_PATH=

# --- Chat service ---
CHAT_PORT=
DB_ADDR=
DB_USR=
DB_PASS=
CHAT_DB_NAME=
ROOM_COL=
DB_NAME=
AUTH_COL=
USER_COL=
NOTIFY=
NOTIF_URL=
FIREBASE_CREDENTIALS_PATH=
