[Unit]
Description=Olympsis Server Application
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/olympsis-server
EnvironmentFile=/etc/olympsis/server.conf