[Unit]
Description=Olympsis Server Application
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/olympsis/server
Restart=always